{% extends 'base.html' %}
{% load static %} 

{% block content %}

<div>
    {% for car in cars %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{% static car.car_image %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ car.car_name }}</h4>
          <p class="card-text">{{ car.car_desc }}</p>
          <a href="{ url }" class="btn btn-primary">ADD</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}




